<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/todolistStyle.css}">
</head>
<body>
<div class="container">
    <h1>TO-DO List</h1>
    <div class="form">
        <!--
            th:action 속성은 HTML <form> 요소에서 사용되며, 제출된 데이터를 처리하는 URL을 지정합니다.

            @{/todo}는 Thymeleaf의 URL 표현식으로, 컨텍스트 상대 URL을 생성합니다.
            @{/todo}는 현재 애플리케이션의 루트 경로(/)를 기준으로 todo라는 이름을 가진 컨트롤러의 경로를 생성합니다.
            예를 들어, 애플리케이션의 루트 경로가 http://localhost:8080/myapp/이고 todo 컨트롤러가 /list 경로에 매핑되어 있다면,
            @{/todo}는 http://localhost:8080/myapp/list를 생성합니다.

            따라서 <form th:action="@{/todo}" method="post">은 폼을 제출할 때,
            POST 방식으로 http://localhost:8080/todo 경로를 요청합니다.
            이는 /todo 경로를 처리하는 컨트롤러가 존재한다는 가정하에 작성된 코드입니다.
        -->
        <form class="postform" th:action="@{/todo}" method="post">
            <input type="text" name="contents" class="input" placeholder="오늘의 할 일을 적어보세요!">
            <button type="submit" class="button">작성하기</button>
        </form>
    </div>

    <div class="count">
        <p>Total Posts: <span th:text="${#lists.size(toDoList)}"></span></p>
    </div>
    <ul id="myUL">
        <li th:each="todo : ${toDoList}" th:class="${todo.completed} ? 'checked' : ''">
            <span class="task" th:id="${todo.id}" th:text="${todo.contents}"></span>
            <span class="edit" onclick="startEditing(this)">수정</span>
            <span class="edit-form">
                <input class="edit-input" type="text" th:id="'edit-input-' + ${todo.id}" th:value="${todo.contents}">
                <button class="button" type="button" th:onclick="reviseElement([[${todo.id}]])">저장</button>
                <button class="button" type="button" onclick="cancelEditing(this)">취소</button>
            </span>
            <span class="delete" th:onclick="deleteElement([[${todo.id}]])">×</span>
        </li>
    </ul>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    // Add a "checked" symbol when clicking on a list item
    var tasks = document.querySelectorAll('.task');
    tasks.forEach(function(task) {
        task.addEventListener('click', function(ev) {
            console.log(ev.target.id)
            if (ev.target.tagName === 'SPAN') {
                ev.target.parentElement.classList.toggle('checked');
                const url = "/todo/"+ev.target.id;
                $.ajax({
                    type:'put',
                    url:url,
                    contentType:'application/json; charset=utf-8',
                    data: JSON.stringify({completed : ev.target.parentElement.classList.contains('checked')}),
                }).done(function() {
                    console.log("update completed "+id+" done");
                }).fail(function (error){
                    alert(JSON.stringify(error));
                });
                console.log(ev.target.parentElement.classList.contains('checked'));
            }
        });
    });
    // Delete a list item when clicking on the "×" button
    function deleteElement(id) {
        const url = "/todo/"+id
        $.ajax({
            type:'delete',
            url:url,
            contentType:'application/json; charset=utf-8'
        }).done(function() {
            alert('할 일이 삭제되었습니다.');
            window.location.href = '/';
        }).fail(function (error){
            alert(JSON.stringify(error));
        });
    }
    function reviseElement(id){
        const input = document.getElementById(`edit-input-${id}`);
        const contents = input.value;
        console.log(id)
        console.log(contents);
        const url = "/todo/"+id;
        $.ajax({
            type:'put',
            url:url,
            contentType:'application/json; charset=utf-8',
            data: JSON.stringify({content : contents}),
        }).done(function() {
            console.log("update contents "+id+" done");
            window.location.href = '/';
        }).fail(function (error){
            alert(JSON.stringify(error));
        });
    }
    function startEditing(editButton) {
        // get the parent li element
        const listItem = editButton.parentNode;

        // add 'editing' class to li element
        listItem.classList.add('editing');

        // hide '수정' and '삭제' buttons
        editButton.style.display = 'none';
        listItem.querySelector('.delete').style.display = 'none';
    }

    function cancelEditing(cancelButton) {
        // get the parent li element
        const listItem = cancelButton.parentNode.parentNode;

        // remove 'editing' class from li element
        listItem.classList.remove('editing');

        // show '수정' and '삭제' buttons
        listItem.querySelector('.edit').style.display = 'inline';
        listItem.querySelector('.delete').style.display = 'inline';
    }
</script>
</body>
</html>